<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liki</title>
    <style>
      .medicine_cards {
        display: flex;
        justify-content: space-around;
        
        margin-right: 20px;
      }
    </style>
  </head>
  <body>
    <article>
      <h1>Профілактика та лікування сезонної застуди</h1>
      <blockquote>
        Як відомо, застуда – це не "офіційний" діагноз, а загальне найменування для цілого ряду інфекційних
        респіраторних захворювань легкого або середнього ступеня тяжкості зі схожими симптомами. Найчастіше застуда
        називається <dfn>ГРВІ</dfn> –
        <i>гостра респіраторна вірусна інфекція, яка зазвичай вражає верхні дихальні шляхи.</i> Напередодні "простудного
        сезону" ми розповімо про класичні симптоми цієї напасті, а також про найголовніше – як лікувати застуду, щоб не
        завдати шкоди організму.
      </blockquote>
      <div>
        <img src="https://liki24.com/image/catalog/prostuda-ukr.png" alt="prostuda-ukr" />
      </div>
      <p>
        Отже, застуда (<strong
          ><abbr title="Гострі Респіраторні Вірусні Інфекції" style="text-decoration: none">ГРВІ</abbr></strong
        >) розвивається через ураження організму вірусами. До речі, грип також належить до групи
        <strong><abbr title="Гострі Респіраторні Вірусні Інфекції" style="text-decoration: none">ГРВІ</abbr></strong
        >.
      </p>
      <p>
        Але віруси відрізняються один від одного: вони починають розмножуватися (реплікуватися) у різних локаціях
        організму та паралельно інфікувати його. Симптоматика та можливі ускладнення вірусних інфекцій теж різняться.
      </p>
      <p>
        До речі, "великий і жахливий" <strong>коронавірус</strong> SARS-CoV-2, що викликає захворювання COVID-19, по
        суті також належить до групи ГРВІ, адже це одна з респіраторних вірусних інфекцій. Але через ризик важкої
        інтоксикації організму та серйозних ускладнень (пневмонія, цитокіновий шторм, ураження ендотелію судин) його
        зазвичай розглядають окремо, як і грип. Ані коронавірус, ані грип не прийнято називати застудою – цей термін
        "зберігають" для легших випадків ГРВІ.
      </p>
      <h2>Симптоми застуди</h2>
      <p>
        Головна ознака звичайної риновірусної застуди, що відрізняє її від грипу – <i>нежить</i> (ринорея), який
        з'являється відразу ж: <q>водоспад</q> з носа, його закладеність. При грипі в першу добу нежитю немає, а от при
        риновірусному ураженні він розвивається раніше, ніж решта симптомів.
      </p>
      <h2>Як швидко вилікувати застуду?</h2>
      <p>
        У випадку зі звичайною
        <strong><abbr title="Гострі Респіраторні Вірусні Інфекції" style="text-decoration: none">ГРВІ</abbr></strong>
        таке питання не має стояти – застуда все одно не пройде раніше, ніж імунна система знищить вірус. Але можна
        допомогти організму, створивши йому сприятливі умови для повноцінної боротьби з вірусним агентом. Для цього
        існують найпростіші правила, яких чомусь мало хто дотримується.
      </p>
      <ol type="I">
        <li>
          <b>Постільний режим</b>
          <p>
            Насамперед, потрібно забезпечити собі <b>відпочинок</b>, не витрачаючи сили (а отже, і деяку частину
            імунітету) марно. Не поспішайте на роботу чи навчання: там ви не лише затягнете процес власного одужання, а
            й заразите ще купу людей. Візьміть відгули та відпочивайте пасивно. Дедлайн організму при застуді набагато
            важливіший за дедлайн на роботі, тому не геройствуйте – ваша компанія не перестане існувати, якщо ви на
            кілька днів відволічетеся від роботи на користь власного здоров'я.
          </p>
        </li>
        <li>
          <b>Рясне пиття</b>
          <p>
            Під час застуди потрібно пити на <b>3-4 чашки</b> рідини більше, ніж зазвичай. Справа в тому, що рясне пиття
            допомагає роботі всіх слизових оболонок тіла. Завдяки цьому зменшується інтоксикація, організм легше
            позбавляється мокротиння та носового слизу – а разом з ними і вірусу. Крім того, за підвищеної температури
            також відбувається зневоднення, яке обов'язково потрібно заповнювати.
          </p>
        </li>
        <li>
          <b><q>Корисне</q> повітря в приміщенні</b>
          <p>
            Повітря у кімнаті стане корисним при застуді, якщо буде чистим і вологим. Будь-які віруси полюбляють
            нерухоме, застояне та сухе повітря – в цих умовах вони особливо активно розмножуються.
          </p>
          <ul>
            <li>після прийняття ванни або душу не зачиняйте двері у ванну;</li>
            <li>
              випрану білизну сушіть у кімнаті. Головне – добре її прополоскати, щоб дихати все ж таки випарами води, а
              не прального порошку;
            </li>
            <li>
              закип'ятіть каструлю води та поставте її в кімнаті (у воду можна додати кілька крапель
              <a href="#" style="text-decoration: none; color: rgb(2, 175, 118)">ефірної олії</a> - чайне дерево,
              евкаліпт, ялиця). Також можна залишити на мінімальному вогні киплячий чайник – він довго випаровуватиме
              вологу.
            </li>
          </ul>
          <br />
          <div class="medicine_cards">
            <div class="card">
              <a href="#" style="text-decoration: none; color: rgb(2, 175, 118)">
                <img
                  src="https://liki24.com/image/cache/catalog/product/found/12118-maslo-efirnoe-chajnogo-dereva-20-ml-zolotonoshskaya-pkf-oao-116x116.jpg?1668124656"
                  alt="ефірна олія" /><br />
                Ефірна олія Чайного дерева
              </a>
              <br />
              <small style="color: gray">Золотоніська ПКФ ОАО</small>
              <br />
              110 грн
              <br />
              <button style="border: 1px solid gray; border-radius: 10px; background-color: aqua">
                <a href="#" style="text-decoration: none; color: black">Купити</a>
              </button>
            </div>
            <div class="card">
              <a href="#" style="text-decoration: none; color: rgb(2, 175, 118)">
                <img
                  src="https://liki24.com/image/cache/catalog/product/newupload/204520-maslo-efirnoe-20-ml-pihta-1-116x116.jpg?1668124656"
                  alt="ефірна олія" /><br />
                Ефірна олія Фармаком Ялиця 20 мл
              </a>
              <br />
              <small style="color: gray">Фармаком ТОВ</small>
              <br />
              98 грн
              <br />
              <button style="border: 1px solid gray; border-radius: 10px; background-color: aqua">
                <a href="#" style="text-decoration: none; color: black">Купити</a>
              </button>
            </div>
          </div>
        </li>
      </ol>
    </article>
  </body>
</html>
