<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OLX</title>
  </head>
  <body>
    <header>
      <h1>Main therms</h1>
      <dl>
        <div>
          <dt>
            <img src="#" alt="Help" />
          </dt>
          <dd>Help</dd>
        </div>
        <br />
        <div>
          <dt>
            <img src="#" alt="Baby world" />
          </dt>
          <dd>Baby world</dd>
        </div>
        <br />
        <div>
          <dt>
            <img src="#" alt="Real estate" />
          </dt>
          <dd>Real estate</dd>
        </div>
      </dl>
    </header>
    <footer>
      <div>
        <img src="#" alt="graph" />
      </div>
      <div>
        <span><small>Виділяйтеся як компанія!</small></span>
        <div><b>Перегляньте пропозицію OLX для бізнесу</b></div>
      </div>
      <div>
        <button><a href="#">Детальніше</a></button>
      </div>
    </footer>
  </body>
</html>
