<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <footer>
      <div>
        <em> Про нас </em>
      </div>
      <div>
        <ol >
          <li><a href="#">Про prom.ua</a></li>
          <li><a href="">Робота в prom.ua</a></li>
          <li><a href="">Довідка та FAQ</a></li>
          <li><a href="">Контактна інформація</a></li>
          <li><a href="">Захист легальності контенту</a></li>
          <li><a href="">Content legality protection</a></li>
        </ol>
      </div>
    </footer>
  </body>
</html>
