<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TSN</title>
    <style>
      .news_card {
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <main>
      <section>
        <h1>Публікації</h1>
        <div class="news_card">
          <figure style="margin-left: 0">
            <img src="#" alt="news_image" />
            <figcaption>
              <small>
                <strong>
                  <a href="#" style="text-decoration: none; color: black; font-size: large">Політика</a>
                </strong>
              </small>
            </figcaption>
          </figure>
          <p style="width: 300px">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus in vero ea reprehenderit? Minima
            voluptas quas aspernatur unde eum nulla!
          </p>
          <div>
            <small style="color: gray; font-weight: bold">
              <time> 8:49 </time>,
              <date> 24.02.23 </date>
              <span><img src="#" alt="eye_icon" />3219</span>
            </small>
          </div>
        </div>
        <div class="news_card">
          <figure style="margin: 0">
            <img src="#" alt="news_image" />
            <figcaption>
              <small>
                <strong>
                  <a href="#" style="text-decoration: none; color: black; font-size: large">Війна</a>
                </strong>
              </small>
            </figcaption>
          </figure>
          <p style="width: 300px">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus in vero ea reprehenderit? Minima
            voluptas quas aspernatur unde eum nulla!
          </p>
          <div>
            <small style="color: gray; font-weight: bold">
              <time> 7:49 </time>,
              <date> 28.01.23 </date>
              <span><img src="#" alt="eye_icon" />38329</span>
            </small>
          </div>
        </div>
        <div class="news_card">
          <figure style="margin: 0">
            <img src="#" alt="news_image" />
            <figcaption>
              <small>
                <strong>
                  <a href="#" style="text-decoration: none; color: black; font-size: large">Світське Життя</a>
                </strong>
              </small>
            </figcaption>
          </figure>
          <p style="width: 300px">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus in vero ea reprehenderit? Minima
            voluptas quas aspernatur unde eum nulla!
          </p>
          <div>
            <small style="color: gray; font-weight: bold">
              <time> 9:19 </time>,
              <date> 22.02.23 </date>
              <span><img src="#" alt="eye_icon" />10245</span>
            </small>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
