<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ukr.Net</title>
  </head>

  <body>
    <header>
      <h2><a href="#">Головне</a></h2>
    </header>
    <main>
      <section>
        <ul>
          <li>
            <a href="#" style="text-decoration: none; color: black">
              <em>«Бавовна» у Маріуполі: підірвано ще один склад БК окупантів</em>
            </a>
            <span><small>(Слово і Діло)</small></span>
          </li>
          <li>
            <a href="#" style="text-decoration: none; color: black">
              <ins>Росія, ймовірно, вичерпала запаси іранських дронів - британська розвідка</ins>
            </a>
            <span><small>(Європейська правда)</small></span>
          </li>
          <li>
            <a href="#" style="text-decoration: none; color: black">
              <s>Нікопольщина зазнала масованих обстрілів окупантів: фото наслідків</s>
            </a>
            <span><small>(Громадське радіо)</small></span>
          </li>
        </ul>
      </section>
    </main>
    <footer>
      <div>
        <a href="#" style="text-decoration: none; color: black"><small>всі головні події дня</small></a>
      </div>
    </footer>
  </body>
</html>
