<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main block Wiki</title>
  </head>

  <body>
    <header>
      <section>
        <h1>
          Привіт
          <a href="#"><dfn>Вікіпедія</dfn></a>
        </h1>
        <div>
          вільної енциклопедії,
          <a href="#">
            яку
            <i>може</i>
            редагувати кожен.
          </a>
        </div>
        <div>
          <address>Українська Вікіпедія, м. Київ, вул. Арсенальна 4</address>
          заснована
          <date>
            <a href="#">
              <em>30 січня <a href="#">2004</a> року.</em>
            </a>
          </date>
        </div>
      </section>
      <section>
        <div>
          <mark>субота</mark>, <date><a href="#">25 лютого</a> <a href="#">2023</a></date> року
        </div>
        <div><strong>1 237 039</strong> статей українською</div>
        <div><strong>157 165</strong> зареєстрованих дописувачів</div>
        <div><b>3969</b> з них активні останнього місяця</div>
      </section>
    </header>
  </body>
</html>
